<h1> listing page</h1>

<table>
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th colspan = "3">Actions</th>
</tr>
</thead>
<tbody>
<% @artis.each do |arti| %>
<tr>
<td><%= arti.title %>
</td>
<td><%= arti.description %>
</td>
<td><%= link_to 'Show', arti_path(arti) %> </td>
<td><%= link_to 'Edit', edit_arti_path(arti) %> </td>
<td><%= link_to 'Delete', arti_path(arti), method: :delete, data: { confirm: "Are you sure?"} %>
</td>
</tr>
<% end %>
</tbody>
</table>
<p>
<%= link_to 'create new arti', new_arti_path %>
</p>